<TABLE >
<TMPL_LOOP NAME=TABLE>
<TR>
<TD><TMPL_VAR NAME=ID></TD>
<TD><TMPL_VAR NAME=AUTHOR></TD>
<TD><TMPL_VAR NAME=NAME></TD>
<TD><TMPL_VAR NAME=INFO></TD>
<TD><TMPL_VAR NAME=NOTE></TD>
</TR>
</TMPL_LOOP>
</TABLE>